name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: configure
      uses: actions/hello-world-javascript-action@v1
      with: 
        who-to-greet: 'MacBookPro 16 Inch'
    - name: test-scripting  
      id: hello
      run: echo 'The time was ${{ steps.hello.outputs.time }}'
    - name: run multi line scripts
      run: |
        echo add another action to build
        echo test and deploy
        ../../DENSE_MATRIX/GTEST/GSL/runScript.sh

    #   run: ./configure
    # - name: make
    #  run: make
    # - name: make check
    #  run: make check
    # - name: make distcheck
    #  run: make distcheck
